* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

/* Hero image start */

.hero-image-container {
  height: 50vh;
  overflow: hidden;
  position: relative;
}

.hero-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.hero-image-text {
  position: absolute;
  color: #fff;
  text-align: center;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Helvetica, sans-serif;
  font-size: 5vh;
  font-weight: 700;
  font-style: italic;
}

/* Hero image slut */

/* Tour section start */

.tour-section {
  padding: 40px 0px;
  background-color: #0a1d37;
}

.filters-container {
  padding: 0px 20px 50px;
  display: flex;
  justify-content: center;
}

.filters-container select {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #fff;
  border-radius: 4px;
  font-size: 16px;
}

.filters-container select:hover {
  border-color: #0a1d37;
  cursor: pointer;
}

.filters-container button {
  padding: 8px 16px;
  background-color: #c8112e;
  border: 1px solid #c8112e;
  color: #fff;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}

.filters-container button:hover {
  border-color: #fff;
}

.tour-section-heading {
  padding-bottom: 40px;
  text-align: center;
  color: #fff;
  font-style: italic;
  font-family: Helvetica, sans-serif;
}

/* Tour section slut */

/* Container for all the cards start */

.all-cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 60px;
  padding: 0 50px;
}

/* Container for all the cards slut */

/* Media Queries, responsive design start */

/* Mobile version */
@media only screen and (max-width: 768px) {
  .hero-image-container {
    height: 30vh;
  }

  .tour-section {
    padding: 20px 0px;
  }

  .all-cards-container {
    grid-template-columns: 1fr;
    gap: 20px 30px;
    padding: 0 60px;
  }
}

/* Tablet version */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .hero-image-container {
    height: 40vh;
  }

  .tour-section {
    padding: 30px 0px;
  }

  .all-cards-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 40px;
    padding: 0 30px;
  }
}

/* Media Queries, responsive design slut */
