* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.hero-image-container {
  height: 30vh;
  overflow: hidden;
  position: relative;
  /* margin-bottom: 10vh; */
}

.hero-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.hero-image-text {
  position: absolute;
  color: #fff;
  text-align: center;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Inter", sans-serif;
  font-size: 5vh;
  font-weight: 700;
  font-style: italic;
}

.tour-section {
  padding-top: 5vh;
  padding-bottom: 5vh;
  background-color: #0a1d37;
}

.tour-section-heading {
  padding-bottom: 40px;
  text-align: center;
  color: #fff;
  font-style: italic;
}

.all-cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 60px;
  padding: 0 50px;
}
