---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

let today = new Date().toISOString().substr(0, 10);

/* Set date to seven days in the future */
/* let sevenDaysFromNow = new Date();
sevenDaysFromNow.setDate(sevenDaysFromNow.getDate() + 7);
let sevenDaysFromNowString = sevenDaysFromNow.toISOString().substr(0, 10); */

const data = await fetch(
     "https://upiqsxfhchnuzrsxvgbp.supabase.co/rest/v1/sisimiut_private_boat_safari?order=tag_typeoftour.asc",
     {
         method : "GET", 
         headers: {
             apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVwaXFzeGZoY2hudXpyc3h2Z2JwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDIwMzEwNjgsImV4cCI6MjAxNzYwNzA2OH0.nHtV6LAiYP_CkS_NEPjMxAxV4M_u40bYxUzb46-GjD8" 
         },
     }
 ).then(res => res.json());
 
---

<Header></Header>

<div class="grid_1-1">

    <div class="redbox">
        <address class="contact-information">
            <h1>Contact information:</h2>
            <h2><a href="tel:+299525690">+299 525690</a> (Mon-Fri 09:00-13:00 GMT-2)</h2>
            <h2>E-mail: <a href="mailto:janbanemann@outlook.dk">janbanemann@outlook.dk</a></h2>
            <h2>For a price estimate, please fill out the form:</h2>
        </address>
    </div>

    <form class="tour-signup">
        <div class="tour-signup-container">
            <div>
                <label for="tourlist">Tour:</label><br>
                <select id="tourlist" name="tourlist">
                    <option value=""></option>
                    {data.map(item => (
                        <option value={item.card_name}>{item.card_name}</option>
                    ))}
                  </select>
            </div>
            <div>
                  <label for="tourdate">Tour Date:</label>
                  <input type="date" id="tourdate" name="tourdate" value={today} min={today} />
            </div>
            <div>
                <label for="fname">First name:</label><br>
                <input type="text" id="fname" name="fname"><br>
            </div>
            <div>
                <label for="lname">Last name:</label><br>
                <input type="text" id="lname" name="lname">
            </div>
            <div>
                <label for="email">Email:</label><br>
                <input type="email" id="email" name="email">
            </div>
            <div>
                <label for="tel">Phone Number (include area code):</label><br>
                <input type="tel" id="tel" name="tel">
            </div>
            <div>
                <label for="adults">Nr. of adults:</label><br>
                <input type="number" id="adults" name="adults"><br>
            </div>
            <div>
                <label for="children">Nr. of children:</label><br>
                <input type="number" id="children" name="children">
            </div>
        </div>
        <div>
            <p><label for="message">Message:</label></p>
            <textarea id="message" name="message"></textarea>
        </div>
        <div><input type="submit" value="Send"></div>
    </form>

</div>

<Footer></Footer>

<style>

* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    line-height: 1.5;
}
    
.grid_1-1{
display: grid;
grid-template-columns: 1fr 1fr;
background-color: #0A1D37;
padding: 40px 40px;
gap: 20px;
}

/* Contact info start */
.redbox{
    color: #fff;
    background-color: #c8102e;
    padding: 40px 20px;
    width: 600px;
    align-items: center;
    justify-content: center;
}

.redbox h1 {
    font-size: 35px;
    padding-top: 0px;
    padding-bottom: 20px;
    font-style: italic;
}

.redbox h2 {
    font-size: 25px;
    padding: 20px 0px;
    font-style: italic
}

.redbox h2:last-child {
    padding-bottom: 0px;
}

.contact-information a {
    color: #fff;
}

/* Contact info slut */

/* Forms start */

.tour-signup {
    align-items: center;
    justify-content: center;
}

.tour-signup-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.tour-signup textarea {
    width: 100%; height: 100%;
    
}
/* Forms slut */

</style>

<!-- <script>

    Tilføj og rediger hvis der bliver tid SCRIPT TIL AT VALIDERE FORMS INDEN DE BLIVER SENDT TIL NETLIFY

    document.getElementById('myForm').addEventListener('submit', function(event) {
        // Get form fields
        var fname = document.getElementById('fname').value;
        var lname = document.getElementById('lname').value;
        var email = document.getElementById('email').value;
        var tel = document.getElementById('tel').value;

        // Validate form fields
        if (fname === '' || lname === '' || email === '' || tel === '') {
            alert('All fields must be filled out');
            event.preventDefault();
        }
    });
</script> -->