---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---



<Header></Header>

<div class="grid_1-1">

    <div class="redbox">
        <address class="contact-information">
            <h1>Contact information:</h2>
            <h2><a href="tel:+299525690">+299 525690</a> (Mon-Fri 09:00-13:00 GMT-2)</h3>
            <h2>E-mail: <a href="mailto:janbanemann@outlook.dk">janbanemann@outlook.dk</a></h3>
            <h2>For a price estimate, please fill out the form:</h3>
        </address>
    </div>

    <form>
        <label for="tourlist">Tour:</label><br>
        <select id="tourlist" name="tourlist">
            <option value=""></option>
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="fiat">Fiat</option>
            <option value="audi">Audi</option>
          </select>
          <label for="tourdate">Tour Date:</label>
          <input type="date" id="tourdate" name="tourdate" value="2023-12-16" min="2023-12-18" />
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname"><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname">
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email">
        <label for="tel">Phone Number (include area code):</label><br>
        <input type="tel" id="tel" name="tel">
        <label for="adults">Nr. of adults:</label><br>
        <input type="number" id="adults" name="adults"><br>
        <label for="children">Nr. of children:</label><br>
        <input type="number" id="children" name="children">
        <p><label for="message">Message:</label></p>
        <textarea id="message" name="message" rows="4" cols="50"></textarea>
        <input type="submit" value="Send">
    </form>

</div>

<Footer></Footer>

<style>

* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    line-height: 1.5;
}
    
.grid_1-1{
display: grid;
grid-template-columns: 1fr 1fr;
background-color: #0A1D37;
padding: 40px 40px;
gap: 20px;
}

/* Contact info start */
.redbox{
    color: #fff;
    background-color: #c8102e;
    padding: 40px 20px;
    width: 600px;
    align-items: center;
    justify-content: center;
}

.redbox h1 {
    font-size: 35px;
    padding-top: 0px;
    padding-bottom: 20px;
    font-style: italic;
}

.redbox h2 {
    font-size: 25px;
    padding: 20px 0px;
    font-style: italic
}

.redbox h2:last-child {
    padding-bottom: 0px;
}

.contact-information a {
    color: #fff;
}

/* Contact info slut */
 
</style>