---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---



<Header></Header>

<div class="grid_1-1">

    <div class="redbox">
        <address class="contact-information">
            <h1>Contact information:</h2>
            <h2><a href="tel:+299525690">+299 525690</a> (Mon-Fri 09:00-13:00 GMT-2)</h3>
            <h2>E-mail: <a href="mailto:janbanemann@outlook.dk">janbanemann@outlook.dk</a></h3>
            <h2>For a price estimate, please fill out the form:</h3>
        </address>
    </div>



    <form>

      
      
    </form>

</div>

<Footer></Footer>

<style>

* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    line-height: 1.5;
}
    
.grid_1-1{
display: grid;
grid-template-columns: 1fr 1fr;
background-color: #0A1D37;
padding: 40px 40px;
gap: 20px;
}

/* Contact info start */
.redbox{
    color: white;
    background-color: #c8102e;
    padding: 40px 20px;
    width: 600px;
    align-items: center;
    justify-content: center;
}

.redbox h1 {
    font-size: 35px;
    padding-top: 0px;
    padding-bottom: 20px;
    font-style: italic;
}

.redbox h2 {
    font-size: 25px;
    padding: 20px 0px;
    font-style: italic
}

.redbox h2:last-child {
    padding-bottom: 0px;
}

.contact-information a {
    color: #fff;
}

/* Contact info slut */
 
</style>