---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<Header></Header>

<div class="redbox">
    <h2 tabindex="0" class="redboxh2">Journey Beyond the Ice: 
    Greenland Boat Safaris, 
    Nature's Spectacle on Arctic Seas!</h2>
</div>

<div class="bluebox">
    
    <h2 tabindex="0" class="homeh2">Meet your personal guide around Sisimiut</h2>

    <div class="guidecard grid_1-1">
        <img tabindex="0" class="homeimg" src="../public/imgs/janbanemann.png" alt="Picture of your guide - Jan Banemann">
        <div class="cardtext">
        <h3 tabindex="0">Your guide</h3>
        <p tabindex="0">Award-winning guide 
            Jan Banemann leads tours in Sisimiut while actively contributing to environmental conservation by cleaning the seas in the area.</p>
    </div>
    </div>

    <h2 tabindex="0" class="homeh2">Your private guide to the sea life around Sisimiut</h2>

    <div class="tourscard grid_1-1">
        <div class="cardtext">
        <h3 tabindex="0">Discover arctic wonders</h3>
        <p tabindex="0">Expirience Greenland's coast with 
            Sisimiut Private Boat Safaris - 
            this year's Tourism Award winner. 
            Join us for an unforgettable journey!</p>
    </div>
        <img tabindex="0" class="homeimg" src="../public/imgs/glaciers.png" alt="Picture of the beautiful sea and glaciers by Sisimiut">
    </div>
</div>


<div class="whitebox">
    <h2 tabindex="0">Discover personalized adventures with Sisimiut Private Boat Safari.
        Book today for guided travel to unique destinations.</h2>
    </div>

<div class="whitebox">    
    <Card
        href="https://docs.astro.build/"
        title="Documentation"
        body="Learn how Astro works and explore the official API docs."
    />
    
    <Card
        href="https://docs.astro.build/"
        title="Documentation"
        body="Learn how Astro works and explore the official API docs."
    />

    <Card
        href="https://docs.astro.build/"
        title="Documentation"
        body="Learn how Astro works and explore the official API docs."
    />
</div>

<div class="whitebox"> 
    <a class="viewtoursbtn" href="tours">View all tours</a>
</div>
 

<Footer></Footer>





<style>
.redboxh2{
    background-color: #c8102e;
    color: white;
    font-size: 110%;
    justify-content: center;
    display: flex;
    padding: 7%;
}

.redbox{
    width: 500px;
    max-width: 100%;
    margin-left: 4%;
    margin-top: -6%;
}

.homeh2{
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 2%;
}


.bluebox{
    background-color: #0A1D37;
    color: white;
    padding: 0 8%;
}
.grid_1-1 {
    display: flex;
    justify-content: center; 
}

.tourscard .cardtext, 
.tourscard .homeimg {
    width: 50%; /* Set both children to take up half the width each */
}

.homeimg {
    width: 100%; /* Adjust the width relative to its parent, not the whole page */
}

.cardtext{
color: white;
background-color: #c8102e;
padding: 2%;
}

.grid_1-1{
    display: flex;
    justify-content: center; 
}

.viewtoursbtn{
    padding: 2%;
    display: flex;
    justify-content: center;
    color: white;
    background-color: #0A1D37 ;
    width: 10%;
    text-decoration: none;
    border-radius: 10px;
}

.whitebox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tourscard{
    padding-bottom: 7%;
}

.guidecard{
    padding-bottom: 2%;
}

</style>