---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <meta name="description" content="Explore Greenland's Arctic with Sisimiut Boat Safaris! Award-winning tours led by local expert Jan Banemann. Book your adventure today!" />
		<title>Home</title>
	</head>


<body>
    <Header></Header>
    
    <div class="hero-image-container">
        <img tabindex="0" width="1280px" alt="Hero image of Sisimiut"
          src="https://i.ibb.co/VwQ2P0T/332378864-904652684004746-18939413797938788-n2.png"
        />
        </div>
    
    <div class="redbox">
        <h1 tabindex="0" class="redboxh2">Journey Beyond the Ice:
        Greenland Boat Safaris,
        Nature's Spectacle on Arctic Seas!</h1>
    </div>
    
    <div class="bluebox">
    
        <div class="badgediv">
       <a target="_blank" href="https://knr.gl/da/nyheder/sisimiut-private-boat-safari-vinder-turismepris"><img class="badge" src="https://i.ibb.co/VQ87Pwc/badgewinner.png" alt="Tourism award 2023 winner badge"></a></div>
    
        <h2 tabindex="0" class="homeh2">Meet your personal guide around Sisimiut</h2>
    
        <div class="guidecard">
            <img tabindex="0" class="homeimg" src="https://i.ibb.co/ccWQbgW/janbanemann.png" width="580px" alt="Picture of your guide - Jan Banemann">
            <div class="cardtext">
    
            <h3 tabindex="0">Your guide</h3>
            <p tabindex="0">Award-winning guide
                Jan Banemann leads tours in Sisimiut while actively contributing to environmental conservation by cleaning the seas in the area.</p>
                <a class="readmorebtn" href="/about">READ MORE</a>
        </div>
        </div>
    
        <h2 tabindex="0" class="homeh2">Your private guide to the sea life around Sisimiut</h2>
    
        <div class="tourscard">
            <div class="cardtext">
            <h3 tabindex="0">Discover arctic wonders</h3>
            <p tabindex="0">Expirience Greenland's coast with
                Sisimiut Private Boat Safaris -
                this year's Tourism Award winner.
                Join us for an unforgettable journey!</p>
            <a class="readmorebtn" href="tours">READ MORE</a>
        </div>
            <img tabindex="0" class="homeimg" width="580px" src="https://i.ibb.co/mFdc6cv/406111842-378013484584263-30489291216582781-n-1.png" alt="Picture of the beautiful sea and glaciers by Sisimiut">
        </div>
    </div>
    
    <h2 class="h2home" tabindex="0">Discover personalized adventures with Sisimiut Private Boat Safari.</h2>
    <h2 class="h2home" tabindex="0">Book today for guided travel to unique destinations.</h2>
    
    <div class="whitebox">
    
            <a href="tours"><div class="homecard">
                <img class="homecardimg" src="https://www.boatsafari.gl/wp-content/uploads/2020/10/bb3-1152x1536.jpg" alt="Picture of one of the tours">
                <h2 class="h2homecard">Sisimiut</h2>
                <h3 class="h3homecard">ARCTIC CHAR WITH A ROD</h3>
                <div class="underlinehome"></div>
                <p class="phomecard">Go fishing for the Arctic Char with a rod. Greenland has some of the best arctic char in the world. Whole day (8 hours). From June 15 to September 1 st.</p>
                <a class="homecardbtn" href="/tours/arctic-char-with-a-rod-tour">Read more and book tour</a>
            </div></a>
    
            <a href="tours"><div class="homecard">
                <img class="homecardimg" src="https://www.boatsafari.gl/wp-content/uploads/2020/01/Screenshot-2.png" alt="Picture of one of the tours">
                <h2 class="h2homecard">Sisimiut</h2>
                <h3 class="h3homecard">EVERGREEN TOUR</h3>
                <div class="underlinehome"></div>
                <p class="phomecard">Experience the rich sea life around Sisimiut, Greenland. This tour takes you out to see as much sea life as possible. 3 hour duration. May to October.</p>
                <a class="homecardbtn" href="/tours/evergreen-tour">Read more and book tour</a>
            </div></a>
    
            <a href="tours"><div class="homecard">
                <img class="homecardimg" src="https://www.boatsafari.gl/wp-content/uploads/2020/01/been-1152x1536.jpg" alt="Picture of one of the tours">
                <h2 class="h2homecard">Sisimiut</h2>
                <h3 class="h3homecard">ATLANTIC WOLFFISH & HALIBUT</h3>
                <div class="underlinehome"></div>
                <p class="phomecard">In this tour you will experience traditional greenlandic fishing for the atlantic wolffish and halibut. Duration 6-8 hours. From June to September.</p>
                <a class="homecardbtn" href="/tours/atlantic-wolffish-and-halibut-tour">Read more and book tour</a>
            </div>
        </div></a>
    
    
    
    <div class="whitebox">
        <a class="viewtoursbtn" href="tours">View all tours</a>
    </div>
    
    
    <Footer></Footer>
</body>





<style>
html{
    font-family: helvetica, sans-serif;
}
.hero-image-container {
  height: 70vh;
  overflow: hidden;
  position: relative;
  z-index: -10;
}

.hero-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.redboxh2{
    background-color: #c8102e;
    color: white;
    font-size: 1.8vw;
    justify-content: center;
    display: flex;
    padding: 5%;
    font-style: italic;
}

.redbox{
    width: 40vw;
    max-width: 100%;
    margin-left: 4%;
    margin-top: -6%;
}

.homeh2{
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 2%;
    font-size: 2vw;
}

.bluebox{
    background-color: #0A1D37;
    color: white;
    padding: 0.1% 10%;
    margin-bottom: 5%;
    font-family: helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
}

.cardtext, .homeimg{
    width: 50%;
}

.cardtext{
color: white;
background-color: #c8102e;
padding: 1% 3%;
font-size: 2vw;
}

.cardtext p{
    font-size: 1.5vw;
    font-weight: lighter;
    line-height: 170%;
}

.readmorebtn{
    padding: 4% 0%;
    display: flex;
    justify-content: center;
    color: white;
    background-color: #0A1D37 ;
    width: 30%;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 6%;
    font-size: 1.2vw;
    font-style: normal;
}

.readmorebtn:hover{
    border-style: solid;
    border-width: 3px;
    border-color: #ffffff;
}

.whitebox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tourscard{
    padding-bottom: 8%;
    display: flex;
    justify-content: center; 
}

.guidecard{
    padding-bottom: 2%;
    display: flex;
    justify-content: center; 
}

.badgediv{
    position: relative;
}

.badge{
    position: absolute;
    width: 10%;
    display: flex;
    top: 31vw;
    left: 71.5vw;
}

.h2home{
    display: flex;
    justify-content: center;
    margin: 0;
    margin-bottom: 0.4%;
    font-family: helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
}

.homecard{
    width: 20%;
    margin: 0 3%;
    margin-top: 3%;
    border-style: solid;
    border-radius: 15px;
    border-width: 1px;
    border-color: #AFAFAF;
    box-shadow: #AFAFAF 0px 0px 20px;
}

.homecardimg{
    width: 100%;
    height: 15vw; 
    object-fit: cover; 
    border-radius: 11px 11px 0 0;
    object-position: center top;
}

.h2homecard{
    margin: 2% 7.5%;
    padding: 0;
    font-size: 1.4vw;
}

.h3homecard{
    margin: 2% 7.5%;
    font-size: 1vw;
}

.underlinehome{
    border-style: solid;
    border-width: 0 0 1.5px 0;
    width: 85%;
    margin: 2% 7.5%;
}

.phomecard{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3% 7.5%;
    width: 85%;
    font-size: 1vw;
    line-height: 140%;
}

.homecardbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #c8102e;
    width: 80%;
    margin: 5% 7%;
    border-radius: 5px;
    padding: 4% 3%;
    text-decoration: underline 1px;
    font-size: 1vw;
}

.viewtoursbtn{
    padding: 1.5%;
    display: flex;
    justify-content: center;
    color: white;
    background-color: #0A1D37;
    width: 10%;
    text-decoration: none;
    border-radius: 10px;
    font-size: 1.5vw;
    margin: 3%;
    margin-bottom: 7%;
}

.viewtoursbtn:hover{
    text-decoration: underline;
}

.homecardbtn:hover{
    color: #0A1D37;
}

a{
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 1350px) {
  .h2home {
    font-size: 2.5vw;
  }
}

@media only screen and (max-width: 1200px) {
    .hero-image-container {
  height: 35vh;
}
}

@media only screen and (max-width: 1100px) {
    .hero-image-container {
  height: 250px;
}

.homecardimg{
    height: 25vw; 
}

.whitebox{
    display: grid;
    grid-template-columns: 1fr;
    padding: 2% 32%;
}

.homecard{
    width: 100%;
    margin-bottom: 10%;
}

.viewtoursbtn{
    width: 93%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
}
}

@media only screen and (min-width: 1920px) {
    .hero-image-container {
  height: 50vh;
}
}

@media only screen and (max-width: 800px) {

    .hero-image-container{
        height: 30vw;
    }


}
</style>