---

---

<div class="footerbox">
    <div class="logo">
      <img tabindex="0" alt="Sisimiut Private Boat Safari logo - a boat (inverted colors)" src="https://i.ibb.co/gZH6x4k/Group-69.png" />
    </div>

    
    <a class="tours" href="tours">TOURS</a>
    <a class="about" href="about">ABOUT</a>
    <a class="contact" href="contact">CONTACT</a>

    <a target="_blank" href="https://www.instagram.com/boatsafarigl/"><img tabindex="0" class="some" alt="SoMe logos - Instagram, Facebook and Youtube" src="https://i.ibb.co/v4ztZC1/Group-18.png" /></a>

    <a target="_blank" href="https://dk.trustpilot.com/"><img tabindex="0" class="trustpilot" alt="SoMe logos - Instagram, Facebook and Youtube" src="https://i.ibb.co/C0GNWWH/Trustpilot-Logo-2022-svg.png" /></a>
    
  </div>

<style>
.about, .tours, .home, .contact {
    cursor: pointer;
    margin: 1.5% 0;
    text-decoration: none;
    color: white;
    display: table;
}

.footerbox{
    background-color: #c8102e;;
    color: white;
    padding: 1.5% 10%;
    width: 80%;
}

body{
    margin: 0;
    padding: 0;
    font-size: 150%;
}

.some{
    display: flex;
    justify-content: end;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.trustpilot{
    display: flex;
    width: 10%;
    margin-left: 90%;
    margin-top: -3%;
}

</style>
