---

---

<div class="footerbox">
    <div class="logo">
      <a href="/"><img class="footerimg" tabindex="0" alt="Sisimiut Private Boat Safari logo - a boat (inverted colors)" src="../../imgs/Invertedlogo.svg" /></a>
    </div>

    
    <a class="tours text-link" href="/tours">TOURS</a>
    <a class="about text-link" href="/about">ABOUT</a>
    <a class="contact text-link" href="/contact">CONTACT</a>

    <div class="somediv">
        <a target="_blank" href="https://www.facebook.com/profile.php?id=100082581348586"><img tabindex="0" class="some1" alt="SoMe logos - Instagram, Facebook and Youtube" src="../../imgs/Facebook-footer.svg" /></a>
        <a target="_blank" href="https://www.instagram.com/boatsafarigl/"><img tabindex="0" class="some2" alt="SoMe logos - Instagram, Facebook and Youtube" src="../../imgs/Instagram-footer.svg" /></a>
      </div>

    <div class="trustpilot">
        <a target="_blank" href="https://dk.trustpilot.com/"><img tabindex="0" class="trustpilotimg" alt="SoMe logos - Instagram, Facebook and Youtube" src="https://i.ibb.co/C0GNWWH/Trustpilot-Logo-2022-svg.png" /></a>
    </div>
  </div>

<style>
.about, .tours, .home, .contact {
    font-family: helvetica, sans-serif;
    cursor: pointer;
    margin: 1.5% 0;
    text-decoration: none;
    color: white;
    display: table;
}

.text-link:hover {
    text-decoration: underline;
}

.footerbox{
    background-color: #c8102e;;
    color: white;
    padding: 1.5% 10%;
    width: 80%;
}

body{
    margin: 0;
    padding: 0;
    font-size: 150%;
}

.some{
    display: flex;
    justify-content: end;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.trustpilot{
    display: flex;
    margin-left: 90%;
    margin-top: -3%;
}

.trustpilotimg{
    width: 100%;
}

.footerimg{
    width: 15vw;
}

.somediv{
    display: flex;
}

.some1{
    width: 3vw;
}

.some2{
    width: 3vw;
    margin-left: 10%;
    margin-top: 3%;
}

@media only screen and (max-width: 1000px) {

.footerbox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 10%;
}
   
.trustpilot{
    width: 0%;
    position: absolute;
}

.footerimg{
    width: 0%;
    position: absolute;
}

.logo{
    width: 0;
    position: absolute;
}
}

@media only screen and (max-width: 600px) {

.footerbox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 10%;
    font-size: 4vw;
}

.some, .some1, .some2{
    width: 0;
    position: absolute;
}
}
</style>
