---

---

<div class="footerbox">
    <div class="logo">
      <img alt="" src="logowhitetext.svg" />
    </div>

    <div>
    <div class="tours">TOURS</div>
    <div class="about">ABOUT</div>
    <div class="contact">CONTACT</div>

    <img class="some" alt="SoMe logos - Instagram, Facebook and Youtube" src="SoMe.svg" />
    
  </div>

<style>
.about, .tours, .home, .contact {
    cursor: pointer;
    margin: 1.5% 0;
}

.footerbox{
    background-color: #c8102e;;
    color: white;
    padding: 1.5% 10%;
    width: 100%;
}

body{
    margin: 0;
    padding: 0;
    font-size: 150%;
}

.some{
    display: flex;
    justify-content: end;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

</style>
