---

---
<div class="header">
  <div class="stickynumber">
    <img
      class="phonelogo"
      alt="Phone logo"
      src="../public/imgs/PHONELOGO.svg"
    />
    <a class="tlf" href="tel:+299 525690">+299 525690</a>
    <b tabindex="0" class="mon-fri">(Mon-Fri 09:00-13:00 GMT-2)</b>
    
  </div>

  <div class="grid_1-1-1-1-1-1">
    <div class="logo">
      <a href="home"><img class="homeimg"
        alt="Sisimiut Private Boat Safari logo - a boat"
        src="../public/imgs/logo.svg"
      /></a>
    </div>
    <a class="home" href="/">HOME</a>
    <a class="tours" href="/tours">TOURS</a>
    <a class="about" href="/about">ABOUT</a>
    <a class="contact" href="/contact">CONTACT</a>
    <div class="somediv">
      <a target="_blank" href="https://www.facebook.com/profile.php?id=100082581348586"><img tabindex="0" class="some" alt="SoMe logos - Instagram, Facebook and Youtube" src="../public/imgs/Facebook.svg" /></a>
      <a target="_blank" href="https://www.instagram.com/boatsafarigl/"><img tabindex="0" class="some" alt="SoMe logos - Instagram, Facebook and Youtube" src="../public/imgs/Instagram.svg" /></a>
    </div>
    
  </div>

  
</div>


<style>
  .header {
    margin: 0;
    padding: 0;
    font-family: helvetica, sans-serif;
    font-size: 1.4vw;
  }

  .grid_1-1-1-1-1-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    place-items: center;
    margin: 0.55% 6.5%;
  }

  .grid_1-1-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .tlf {
    height: 100%;
    font-size: 1vw;
    font-weight: bold;
    letter-spacing: -0.02em;
    line-height: 150%;
    display: flex;
    align-items: center;
    margin: 0 .5%;
    color: black;
    text-decoration: none;
  }

  .tlf:hover{
    text-decoration: underline;
  }

  .mon-fri {
    font-size: 1vw;
    letter-spacing: -0.02em;
    line-height: 150%;
    display: flex;
    align-items: center;
    margin: 0 0.5%;
  }

  .phonelogo {
    overflow: hidden;
    max-height: 100%;
    margin: 0 0.5%;
  }

  .stickynumber {
    display: flex;
    font-size: 19px;
    background-color: #ddf4fe;
    padding: 0.5%;
    justify-content: center;
    position: sticky;
    top: 0;
    height: 1.5vw;
    }

  .about,
  .tours,
  .home,
  .contact {
    cursor: pointer;
    text-decoration: none;
    color: black;
    padding: 15%;
  }

  .some{
    width: 2vw;
  }

  .grid_1-1-1-1-1-1 a:hover {
    text-decoration: underline; 
    text-decoration-thickness: 4px;   

  }

  .logo {
    padding-top: 5%;
  }

  .homeimg{
    width: 12vw;
  }

  
@media only screen and (max-width: 1400px) {

   a{
    font-size: 2vw;
  }

  .phonelogo {
    width: 2.5vw;
  }

  .tlf {
    font-size: 1.8vw;
  }


  .mon-fri {
    font-size: 1.8vw;
  }

  .stickynumber {
    height: 3vw;
    }

 
}

@media only screen and (max-width: 1000px) {

    .some{
      width: 0%;
      position: absolute;
    }

    .grid_1-1-1-1-1-1{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 0;
  }

  a{
    font-size: 3vw;
    padding: 0;
    margin: 0;
  }

}

</style>
