---

---

<div class="component-1">
    		<img class="heroimg" alt="Hero image of Sisimiut" src="solsisi.jpg">
    		
    		<i class="find-your-destination">Find your destination</i>
    		<div class="component-1-child">
    		</div>
    		<div class="parent">
      			<b class="b">+299 525690</b>
      			<b class="mon-fri-0900-1300-gmt-2">(Mon-Fri 09:00-13:00 GMT-2)</b>
      			<img class="vector-icon" alt="Phone logo" src="PHONELOGO.svg">
      			
    		</div>
    		<div class="about" id="aBOUTText">ABOUT</div>
    		<div class="tours" id="tOURSText">TOURS</div>
    		<div class="home" id="homeText">HOME</div>
    		<div class="contact" id="cONTACTText">CONTACT</div>
    		<img class="component-1-item" alt="Instagram, Facebook and Youtube logo" src="SoMe.svg">
			
    		<div class="logo">
      			<img alt="Sisimiut Private Boat Safari logo - a boat" src="SPBFLOGO.svg">
    		</div>
  	</div>

<style>
    body{
    margin: 0;
    padding: 0;
}
	.heroimg {
    position: absolute;
    height: 70.45%;
    width: 100%;
    top: 29.55%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.find-your-destination {
    position: absolute;
    top: 58.4%;
    left: 40%;
    font-size: 60px;
    letter-spacing: -0.02em;
    line-height: 150%;
    font-weight: 700;
    color: #fff;
}

.component-1-child {
    position: absolute;
    height: 8.12%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 91.88%;
    left: 0%;
    background-color: #ddf4fe;
}

.b {
    position: absolute;
    height: 100%;
    width: 39.27%;
    top: 0%;
    left: 10.74%;
    letter-spacing: -0.02em;
    line-height: 150%;
    display: flex;
    align-items: center;
}

.mon-fri-0900-1300-gmt-2 {
    position: absolute;
    height: 65.52%;
    width: 54.91%;
    top: 17.24%;
    left: 45.09%;
    font-size: 15px;
    letter-spacing: -0.02em;
    line-height: 150%;
    display: flex;
    align-items: center;
}

.vector-icon {
    position: absolute;
    height: 86.19%;
    width: 5.69%;
    top: 2.82%;
    right: 93.1%;
    bottom: 11%;
    left: 1.21%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.parent {
    position: absolute;
    height: 4.06%;
    width: 31.02%;
    top: 1.96%;
    right: 34.53%;
    bottom: 93.98%;
    left: 34.45%;
    font-size: 19px;
}

.about, .tours, .home, .contact {
    position: absolute;
    letter-spacing: -0.02em;
    line-height: 150%;
    font-weight: 500;
    cursor: pointer;
}

.about {
    top: 15.5%;
    left: 56.48%;
}

.tours {
    top: 15.5%;
    left: 44.22%;
}

.home {
    top: 15.5%;
    left: 31.64%;
}

.contact {
    top: 15.5%;
    left: 68.91%;
}

.component-1-item {
    position: absolute;
    height: 4.62%;
    width: 6.64%;
    top: 15.27%;
    right: 9.45%;
    bottom: 80.11%;
    left: 83.91%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.logo {
    position: absolute;
    height: 14.89%;
    width: 20.78%;
    top: 11.34%;
    right: 72.5%;
    bottom: 73.76%;
    left: 6.72%;
    color: #c8102e;
}

.component-1 {
    position: relative;
    width: 100%;
    height: 714px;
    text-align: left;
    font-size: 23px;
    color: #000;
    font-family: Inter;
}


</style>
